.main {
    margin-block-start: 0;
    margin-block-end: 0;
}

.p {
    font-size: 16px;
    font-weight: 400;
}

.pDesc {
    font-size: 18px;
    font-weight: 400;
    color: #475467;
}

.menu {
    font-size: 15px;
    font-weight: 500;
    color: #475467;
}

.h1 {
    font-size: 55px;
    font-weight: 500;
}

.h2 {
    font-size: 36px;
    font-weight: 500;
}

.h3 {
    font-size: 24px;
    font-weight: 500;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

.button {
    font-weight: 600;
    font-size: 14px;
}

.tableHead {
    font-weight: 500;
    font-size: 12px;
}

.tableTitle {
    font-weight: 500;
    font-size: 14px;
    color: #101828;
    line-height: 20px;
}

.formLabel {
    font-weight: 500;
    font-size: 14px;
    color: #344054;
    line-height: 20px;
}

.tableDesc {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    line-height: 20px;
}

.errorMsg {
    font-weight: 400;
    font-size: 14px;
    color: #F04438;
    line-height: 20px;
}

.techDesc {
    font-weight: 400;
    font-size: 12px;
}

.modalTitle {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
    line-height: 28px;
}

.ftrsTitle {
    font-weight: 600;
    font-size: 20px;
    color: #101828;
    line-height: 30px;
}

.ftrsDesc {
    font-weight: 400;
    font-size: 16px;
    color: #475467;
    line-height: 24px;
}
