.main {
    font-family: 'Inter', sans-serif;
}

.p {
    font-size: 16px;
    font-weight: 400;
}

.pDesc {
    font-size: 18px;
    font-weight: 400;
    color: #475467;
}

.menu {
    font-size: 15px;
    font-weight: 500;
    color: #475467;
}

.h1 {
    font-size: 55px;
    font-weight: 500;
}

.h2 {
    font-size: 36px;
    font-weight: 500;
}

.h3 {
    font-size: 24px;
    font-weight: 500;
}
