.block {
    --macbook-size: var(--size_width-max);
    --border-margin: calc(var(--macbook-size) * 0.013);

    position: absolute;
    top: var(--size-banner-text-height);
    left: 50%;
    margin-left: calc(var(--macbook-size) / -2);
    width: var(--macbook-size);
    z-index: 1;
    pointer-events: none;
}

.svg {
    width: 100%;
}

.img {
    position: absolute;
    top: calc(var(--border-margin));
    left: var(--border-margin);
    width: calc(100% - 2 * var(--border-margin));
}
