.block {
    --duration: .5s;
    position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,.6);
}

.backgroundOpening {
    animation: BackgroundOpening var(--duration) cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes BackgroundOpening {
    0% {
        background:rgba(0,0,0,.0);
    }
    100% {
        background:rgba(0,0,0,.6);
    }
}

.backgroundClosing {
    animation: BackgroundClosing var(--duration) cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes BackgroundClosing {
    0% {
        background:rgba(0,0,0,.6);
    }
    100% {
        background:rgba(0,0,0,.0);
    }
}
