.block {
    margin-top: 80px;
    border-bottom: 1px solid var(--color_secondary-bg);
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.textBlock {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: calc(40vh);
    text-align: center;
}

.desc {
    max-width: 911px;
    word-wrap: break-word;
}
