.block {
    margin-top: 80px;
    border-bottom: 1px solid var(--color_secondary-bg);
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.textBlock {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: calc(45vh);
    text-align: center;
}

.desc {
    max-width: 911px;
    word-wrap: break-word;
}

.gardient {
    position: absolute;
    z-index: 0;
    top: 15vh;
    width: 100vw;
    height: 130vh;
    background: radial-gradient(56.52% 45.52% at 49.97% 53.01%, #BFAAEC 0%, rgba(255, 255, 255, 0) 100%);
}
