.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: var(--color_gray-bg);
    padding: 70px 0;
}

.block > p {
    max-width: 1000px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
    width: 400px;
}

.form > input {
    padding: 12px 25px;
    width: 450px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    background-color: #efefef;
}

.submit {
    display: none;
}
