.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    padding: 70px 0 90px;
    text-align: center;
}

.desc {
    margin-top: 9px;
    max-width: 686px;
}

.ftrs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: var(--size_width-max);
    margin-top: 64px;
}

.ftrsPart {
    width: calc((100% - 40px) / 3);
    height: 220px;
    background-color: #f5f5f5;
}
