@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --color_secondary-bg: #e0e0e054;
    --color_primary: #6941c6;
    --color_primary-bg: #f9f5ff;
    --color_gray-bg: #f9f9f9;

    --size_width-max: 85vw;

    color: #3e3e3e;
}

@media (min-width: 1700px) {
    :root {
        --size_width-max: 1400px;
    }
}
